body{
    background-color: #C7BFF5;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

.month-inner{
    min-width: 200px; 
    min-height: 400px;
    margin: 0 130px;
    background-color: #ffffff;
}

.delete{
    cursor: pointer;
    display: inline-block;
}

@media (max-width: 800px) {
    .column{
        flex-wrap: wrap;
    }
}

.numbers a{
    padding: 10px;
}
.numbers a:hover{
   border-radius: 50%;
   width: fit-content;
   margin: auto;
   
   display: inline-block;
   /* height: 10px; */
   background: pink; 
}

.palki{
    /* padding: 0px 100px; */
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
}

.number{
    width: 2px;
    background-color: black;
}

.flex-response{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 50px;

    
}

.month{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.month-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0;
    justify-content: center;
}

.month-grid div{
    border: 1px solid black;
    padding: 3px;
    min-width: 20%;
    font-size: 40px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 50px;
}

.numbers  a{
    display: inline-block;
}

.column{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 50px;
}

.flex-response{
    /* flex-shrink: 5; */
    flex-basis: 70%;
    
}

.blocks img{
    max-width: 200px;
    padding-top: 20px;
}

.month-grid div{ 
    cursor: pointer;
}

.month{
    width: 100%;
}

aside{
    border: black 2px solid ;
    width: fit-content;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1590050371954-f8c5beb14b1e?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Nzg4NTg2NDA&ixlib=rb-4.0.3&q=80);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    background-position: center;
}

.container {
    width: 100vw; height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 400px;
}

.block1 {
    height: 60vh;
    aspect-ratio: 6 / 4;
    border-radius: 10px;
    margin: 3em;
    background: #eaeaea;
    box-sizing: border-box;
}

.second {
    transform-style: flat;
    background: url(https://images.unsplash.com/photo-1590050371954-f8c5beb14b1e?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Nzg4NTg2NDA&ixlib=rb-4.0.3&q=80);
    backround-size: cover;
    background-position: center;
}

.inner {
    width: 100%; height: 100%;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner p {
    padding: 3em;
}

.shadow {
    position: absolute;
    height: 40vh;
    aspect-ratio: 3 / 4;
    background: #cdcdcd;
    box-shadow: 0 0 50px 70px #cdcdcd;
    z-index: -1;
}