body{
    background-color: #C7BFF5;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

.month-inner{
    min-width: 200px; 
    min-height: 400px;
    margin: 0 130px;
    background-color: #ffffff;
    
}
.numbers a{
    padding: 10px;
}
.numbers a:hover{
   border-radius: 50%;
   width: fit-content;
   margin: auto;
   
   display: inline-block;
   /* height: 10px; */
   background: pink; 
}

.palki{
    /* padding: 0px 100px; */
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
}

.number{
    width: 2px;
    background-color: black;
}

.flex-response{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 50px;

    
}

.month{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.month-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0;
    justify-content: center;
}

.month-grid div{
    border: 1px solid black;
    padding: 3px;
    min-width: 20%;
    font-size: 40px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 50px;
}

.numbers  a{
    display: inline-block;
}

.column{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 50px;
}

.flex-response{
    /* flex-shrink: 5; */
    flex-basis: 70%;
    
}

.month{
    width: 100%;
}

aside{
    border: black 2px solid ;
    width: fit-content;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

